.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  display: table;
  transition: opacity .3s ease;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.next {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.next a, .next h1 {
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.next:hover {
  text-decoration: none;
}

.start {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.start a, .start h1 {
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.start:hover {
  text-decoration: none;
}

.restart {
    position: absolute;
    top: 76.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.restart a, .restart h1 {
    font-family: 'grilled-cheese';
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.restart:hover {
  text-decoration: none;
}